body{
   font-family: 'Open Sans','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

html,body{

    height: 100%;
}
a{
    text-decoration: none;
    color: #000000;
}

#piazza-logo{
    height:80px;
    margin-top: -20px;
}

.nav-bar{
    display:flex;
    justify-content: space-around;
    background-color: #fff;
    width: 100%;
    height: 45px;
    position: fixed;
    border-bottom: 1px solid rgba(36, 35, 35, 0.098);
    top: 0;
    left: 0;
    padding: 14px 2px 14px 2px;
    z-index: 3;

}

.nav-bar-link{
    font-size: 20px;
    
}

.signup-login-button {
    border: 1px solid rgb(103, 174, 240);
    border-radius: 20px;
    padding: 10px 10px;
    background-color: rgb(134, 188, 238);
    margin-top: -10px;
   
}

button#sign-up {
    margin-right: 10px;
}

.landing-page {
    background-image: url('./pics/light-blue-background2.jpg');
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 45px;

    height: 50rem;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
  
}

.landing-page p{
    text-align: center;
}

p.landing-page-title {
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: 1000;
    color: #353434;
    position: relative;
    top: 30px;
}

p.landing-page-caption {
    font-size: 22px;
    color: #595555;
    position: relative;
    top: 30px;
}

.landing-page-video {
   
    width: 40%;
    height: 24rem;
    margin-top: -6%;
    
}

.landing-page-inner-wrapper{
    display:flex;
    justify-content: space-around;
    margin-top:15%;
    
}

p#why-piazza {
    font-size: 30px;
    margin: 0;
    font-weight: 700;
    margin-top: -20px;
}

.landing-page-list li {
    margin: 10px;
}

.landing-page-list {
    margin-top: -35px;
}

.landing-page-button {
    padding: 10px;
    border-radius: 3px;
    font-weight: 600;
    font-size: 16px;
    margin-top: 30px;
    margin-right: 5px;
}

#button-students {
   
    background-color: #f6d8ac;
    border:1px solid #f6d8ac;
}

#button-profs {
    background-color: #7e9a9a;
    border:1px solid #7e9a9a;
}

#button-view-class{
    background-color: #8ec3eb;
    border: 1px solid #8ec3eb;
}

.landing-page-video iframe{

    height:100%;
    width:100%;
}